include *.txt
include *.rst
include *.py
include dorado_sphinx_theme/__init__.py
include setup.cfg

# Non-python files.
recursive-include dorado_sphinx_theme *

# Extraneous files.
global-exclude .DS_Store
global-exclude *.pyc
